:root { --primary: #eab308; }
body { background: #000; color: white; font-family: sans-serif; margin: 0; padding: 0; }
#app { max-width: 500px; margin: 0 auto; padding: 20px; padding-bottom: 100px; }

.card { background: #111; border: 1px solid #222; padding: 15px; border-radius: 12px; margin-bottom: 10px; display: flex; align-items: center; justify-content: space-between; }
.btn-control { background: #222; color: white; border: none; width: 35px; height: 35px; border-radius: 5px; font-weight: bold; }
.btn-yellow { background: var(--primary); color: #000; border: none; width: 100%; padding: 15px; border-radius: 10px; font-weight: bold; text-transform: uppercase; cursor: pointer; }
.sticky-footer { position: fixed; bottom: 0; width: 100%; max-width: 500px; left: 50%; transform: translateX(-50%); background: #000; padding: 15px; box-sizing: border-box; border-top: 1px solid #222; }

input, select { background: #111; border: 1px solid #333; color: white; padding: 12px; border-radius: 8px; width: 100%; margin-bottom: 10px; box-sizing: border-box; }

.item-vai-nao { background: #111; border: 1px solid #222; padding: 12px; border-radius: 8px; margin-bottom: 5px; display: flex; justify-content: space-between; cursor: pointer; }
.item-vai-nao.selected { border-color: var(--primary); background: #221a00; }
